<!doctype html>
<html>
  <head>
    <title>Denon HEOS</title>
    <link rel="stylesheet" href="style/main.css"/>
    <script src="https://kit.fontawesome.com/f1b9188ff6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="left-pane">
        <div class="devices-container">
          
        </div>
        <div class="song-details-container">
          <div class="song-data"><div class="title">Track:</div><div class="data" id="track-title"></div></div>
          <div class="song-data"><div class="title">Album:</div><div class="data" id="track-album"></div></div>
          <div class="song-data"><div class="title">Artist:</div><div class="data" id="track-artist"></div></div>
        </div>
        <div class="bottom-section">
          <div class="bottom-controls">
            <div class="player-controls">
              <div>
                <i class="fas fa-5x fa-chevron-circle-left clickable" onclick="previousTrack()"></i>
                <i id="play-pause-icon" class="fas fa-5x fa-pause clickable" onclick="togglePlayPause()"></i>
                <i class="fas fa-5x fa-chevron-circle-right clickable" onclick="nextTrack()"></i>
              </div>
            </div>
            <div class="discover">
              <button onclick="discoverDevices()">Discover</button>
            </div>
            <div class="volume-controls">
              <i class="fas fa-3x fa-chevron-up clickable" onclick="volumeUp()"></i>
              <div id="current-volume-level" class="volume-text"></div>
              <i class="fas fa-3x fa-chevron-down clickable" onclick="volumeDown()"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="right-pane">
        <div class="image-container">
          <img id="track-img">
        </div>
      </div>
      <div class="progress-container">
        <progress id="song-progress"></progress>
      </div>

    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
    <script src="js/main.js"></script>
  </body>
</html>